h1 {
	font-family: "Impact", sans-serif;
	font-size: 50px;
	color: #fff;
	text-shadow: 2px 2px #846337;
}

#change {
	font-family: "Impact", sans-serif;
	font-size: 29px;
	color: #fff;
	text-shadow: 1px 1px #846337;
}

tr {
	color: #fff;
	text-shadow: .5px .5px #846337;
	text-align: center;
}

#crimes2 {
	display: block;
	margin: 0px auto;
}